---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot7337421039:AAHGbUPNkHjBnzrXpE-uAtn1gR6UMO9MaP4/sendMessage
    body:
      encoding: UTF-8
      string: '{"text":"Game created, share the game code 5454 to let players join","chat_id":"12345"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":400,"description":"Bad Request: chat not found"}'
  recorded_at: Tue, 09 Jul 2024 23:27:25 GMT
recorded_with: VCR 6.2.0
